{% extends 'base.html.twig'  %}

{% block title %}404 - {{ 'Նման էջ գոյություն չունի'|trans }} | {{ parent() }} {% endblock %}

{% block body %}
    <h2 class="content__title">{{ 'Նման էջ գոյություն չունի'|trans }}</h2>
    <div class="gap-20"></div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h2>{{ 'Նման էջ գոյություն չունի'|trans }}</h2>
        </div>
    </div>
{% endblock %}
