<p>
    <b>Name:</b> {{ firstName }}<br>
    <b>Email:</b> {{ email }}<br>
    <br>
    <b>Message:</b><br> {{ messageText }}<br>
</p>
<p>This email was sent from <a href="{{ url('homepage') }}">BankInfo.am</a> website automatically.</p>