.bank-logos { background: url(../img/bank-logos/bank-logos.png) no-repeat; }
.armbusiness-bank-24 { width: 24px; height: 24px; background-position: -318px 0; }
.armbusiness-bank-32 { width: 32px; height: 32px; background-position: -228px 0; }
.armbusiness-bank-48 { width: 48px; height: 48px; background-position: -69px 0; }
.armbusiness-bank-64 { width: 64px; height: 64px; background-position: 0 0; }
.acba-bank-24 { width: 24px; height: 24px; background-position: -318px -29px; }
.acba-bank-32 { width: 32px; height: 32px; background-position: -347px -53px; }
.acba-bank-48 { width: 48px; height: 48px; background-position: -122px 0; }
.acba-bank-64 { width: 64px; height: 64px; background-position: -453px 0; }
.armenian-development-bank-24 { width: 24px; height: 24px; background-position: -228px -37px; }
.armenian-development-bank-32 { width: 32px; height: 32px; background-position: -98px -106px; }
.armenian-development-bank-48 { width: 48px; height: 48px; background-position: -175px 0; }
.armenian-development-bank-64 { width: 64px; height: 64px; background-position: -384px -53px; }
.armeconom-bank-24 { width: 24px; height: 24px; background-position: -310px -58px; }
.armeconom-bank-32 { width: 32px; height: 32px; background-position: -379px -122px; }
.armeconom-bank-48 { width: 48px; height: 48px; background-position: -265px 0; }
.armeconom-bank-64 { width: 64px; height: 64px; background-position: 0 -69px; }
.ameria-bank-24 { width: 24px; height: 24px; background-position: -228px -66px; }
.ameria-bank-32 { width: 32px; height: 32px; background-position: -204px -135px; }
.ameria-bank-48 { width: 48px; height: 48px; background-position: -347px 0; }
.ameria-bank-64 { width: 64px; height: 64px; background-position: -453px -69px; }
.anelik-bank-24 { width: 24px; height: 24px; background-position: -69px -106px; }
.anelik-bank-32 { width: 32px; height: 32px; background-position: 0 -138px; }
.anelik-bank-48 { width: 48px; height: 48px; background-position: -400px 0; }
.anelik-bank-64 { width: 64px; height: 64px; background-position: -310px -90px; }
.ararat-bank-24 { width: 24px; height: 24px; background-position: -204px -106px; }
.ararat-bank-32 { width: 32px; height: 32px; background-position: 0 -175px; }
.ararat-bank-48 { width: 48px; height: 48px; background-position: -69px -53px; }
.ararat-bank-64 { width: 64px; height: 64px; background-position: -135px -106px; }
.armswiss-bank-24 { width: 24px; height: 24px; background-position: -416px -122px; }
.armswiss-bank-32 { width: 32px; height: 32px; background-position: -66px -193px; }
.armswiss-bank-48 { width: 48px; height: 48px; background-position: -122px -53px; }
.armswiss-bank-64 { width: 64px; height: 64px; background-position: -241px -106px; }
.artsakh-bank-24 { width: 24px; height: 24px; background-position: -69px -135px; }
.artsakh-bank-32 { width: 32px; height: 32px; background-position: 0 -212px; }
.artsakh-bank-48 { width: 48px; height: 48px; background-position: -175px -53px; }
.artsakh-bank-64 { width: 64px; height: 64px; background-position: -453px -138px; }
.ardshininvest-bank-24 { width: 24px; height: 24px; background-position: -37px -138px; }
.ardshininvest-bank-32 { width: 32px; height: 32px; background-position: -225px -228px; }
.ardshininvest-bank-48 { width: 48px; height: 48px; background-position: -257px -53px; }
.ardshininvest-bank-64 { width: 64px; height: 64px; background-position: -315px -159px; }
.byblos-bank-24 { width: 24px; height: 24px; background-position: -98px -143px; }
.byblos-bank-32 { width: 32px; height: 32px; background-position: -262px -228px; }
.byblos-bank-48 { width: 48px; height: 48px; background-position: -103px -175px; }
.byblos-bank-64 { width: 64px; height: 64px; background-position: -384px -159px; }
.cba-24 { width: 24px; height: 24px; background-position: -66px -164px; }
.cba-32 { width: 32px; height: 32px; background-position: -66px -230px; }
.cba-48 { width: 48px; height: 48px; background-position: -156px -175px; }
.cba-64 { width: 64px; height: 64px; background-position: -453px -207px; }
.converse-bank-24 { width: 24px; height: 24px; background-position: -36px -170px; }
.converse-bank-32 { width: 32px; height: 32px; background-position: 0 -249px; }
.converse-bank-48 { width: 48px; height: 48px; background-position: -209px -175px; }
.converse-bank-64 { width: 64px; height: 64px; background-position: -156px -228px; }
.hsbc-24 { width: 24px; height: 24px; background-position: -37px -196px; }
.hsbc-32 { width: 32px; height: 32px; background-position: -225px -265px; }
.hsbc-48 { width: 48px; height: 48px; background-position: -262px -175px; }
.hsbc-64 { width: 64px; height: 64px; background-position: -315px -228px; }
.inecobank-24 { width: 24px; height: 24px; background-position: -37px -225px; }
.inecobank-32 { width: 32px; height: 32px; background-position: -66px -267px; }
.inecobank-48 { width: 48px; height: 48px; background-position: -103px -228px; }
.inecobank-64 { width: 64px; height: 64px; background-position: -384px -228px; }
.mellat-bank-24 { width: 24px; height: 24px; background-position: -37px -254px; }
.mellat-bank-32 { width: 32px; height: 32px; background-position: -156px -297px; }
.mellat-bank-48 { width: 48px; height: 48px; background-position: -262px -265px; }
.mellat-bank-64 { width: 64px; height: 64px; background-position: -453px -276px; }
.prometey-bank-24 { width: 24px; height: 24px; background-position: 0 -286px; }
.prometey-bank-32 { width: 32px; height: 32px; background-position: -53px -333px; }
.prometey-bank-48 { width: 48px; height: 48px; background-position: -103px -281px; }
.prometey-bank-64 { width: 64px; height: 64px; background-position: -315px -297px; }
.unibank-24 { width: 24px; height: 24px; background-position: -29px -286px; }
.unibank-32 { width: 32px; height: 32px; background-position: -90px -334px; }
.unibank-48 { width: 48px; height: 48px; background-position: 0 -315px; }
.unibank-64 { width: 64px; height: 64px; background-position: -384px -297px; }
.vtb-24 { width: 24px; height: 24px; background-position: -58px -304px; }
.vtb-32 { width: 32px; height: 32px; background-position: -127px -334px; }
.vtb-48 { width: 48px; height: 48px; background-position: -262px -318px; }
.vtb-64 { width: 64px; height: 64px; background-position: -193px -302px; }